<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ending com</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<center>
    <img th:src="@{/image/name.png}" class="img-fluid animated slower zoomInUp rounded name" style="margin-top: 4%">
    <div class="view overlay">
        <div class="animated zoomIn slower ">
            <img th:src="@{/image/thanks.png}" class="img-fluid rounded thanks"
                 style="margin-bottom: 1%; margin-top: 1%">
            <h1 class=" display-3 font-weight-bold" th:text="${name.trim().toUpperCase()}+' !'"
                style="color: #966364; margin-bottom: 2%"></h1>
        </div>
        <div class="col-md-12 view overlay zoom animated fadeInDown slower delay-2s">
            <a th:href="@{/public/listQuestionnaire}">
                <button type="button" class="btn btn-backToQL"></button>
            </a>
        </div>

        <div class="col-md-12 view animated fadeInDown slower delay-3s">
            <a th:href="@{/}">
                <button type="button" class="btn btn-backTo"></button>
            </a>
        </div>

    </div>
</center>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>