<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="link-styles">
        <link rel="stylesheet"
              th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"/>
        <link rel="stylesheet"
              th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/css/mdb.css}">
    </th:block>
</head>
<body>
<th:block th:fragment="navigator">
    <!--<nav class="site-header sticky-top py-1">-->
        <!--<div class="container d-flex flex-column flex-md-row justify-content-between">-->
            <!--<a class="py-2" href="#">-->
                <!--<img th:src="@{/image/logo2.png}" class="col-md-1">-->
            <!--</a>-->
            <!--<a class="py-2 d-none d-md-inline-block" th:href="@{/}">Home</a>-->
            <!--<a class="py-2 d-none d-md-inline-block" sec:authorize="hasRole('ADMIN')" th:href="@{/tylkodlakozakow}">Kozaki</a>-->
            <!--<a class="py-2 d-none d-md-inline-block" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/account/list}">Account list</a>-->
            <!--<div class="py-2 d-none d-md-inline-block">-->
                <!--<a class="maj-2 d-none d-md-inline-block" sec:authorize="!isAuthenticated()"-->
                   <!--th:href="@{/login}">Login</a>-->
                <!--<a class="maj-2 d-none d-md-inline-block" sec:authorize="!isAuthenticated()"-->
                   <!--th:href="@{/user/register}">Register</a>-->
                <!--<a class="maj-2 d-none d-md-inline-block" sec:authorize="isAuthenticated()"-->
                   <!--th:href="@{/logout}">Logout</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top py-2 scrolling-navbar">
        <div class="container">
            <a class="py-2" href="#">
                <img th:src="@{/image/logo2.png}" class="col-md-2">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/account/list}">Account list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </form>
                <div class="py-2 d-none d-md-inline-block">
                    <a class="maj-2 d-none d-md-inline-block" sec:authorize="!isAuthenticated()"
                       th:href="@{/login}">Login</a>
                    <a class="maj-2 d-none d-md-inline-block" sec:authorize="!isAuthenticated()"
                       th:href="@{/user/register}">Register</a>
                    <a class="maj-2 d-none d-md-inline-block" sec:authorize="isAuthenticated()"
                       th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</th:block>


<th:block th:fragment="footer" >
    <footer class="container footer" >
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019-2020 F.Trela & P.Stefanowski, Inc. &middot; <a href="#">Privacy</a> &middot; <a
                href="#">Terms</a></p>
    </footer>
</th:block>


<th:block th:fragment="scripts">

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/js/mdb.min.js}"></script>
    <script>new WOW().init();</script>
</th:block>
</body>
</html>