<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="link-styles">
        <link rel="stylesheet"
              th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"/>
        <link rel="stylesheet"
              th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/css/mdb.css}">
    </th:block>
</head>
<body>
<th:block th:fragment="navigator">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <a class="navbar-brand filipNavbar" th:href="@{/}">
            <img class="logo" th:src="@{/image/logo.png}"
                 style="margin-left: 1px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link profile" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="true" style="margin-right: 10px" sec:authorize="isAuthenticated()"></a>
                    <div class="dropdown-menu menudd ">
                        <a class="dropdown-item dropListElement" href="#"><p class="h6">Edit</p></a>
                        <a class="dropdown-item dropListElement" href="#"><p class="h6">Donate</p></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropListElement" th:href="@{/logout}"><p class="h6">Logout</p></a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link login" role="button" th:href="@{/login}" style="margin-right: 10px"></a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>


<th:block th:fragment="footer">
    <footer class="footer mt-auto py-3">
        <div class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2019-2020 F.Trela & P.Stefanowski, Inc. &middot; <a href="#">Privacy</a> &middot; <a
                    href="#">Terms</a></p>
        </div>
    </footer>
</th:block>


<th:block th:fragment="scripts">

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/js/mdb.min.js}"></script>
    <script>new WOW().init();</script>
</th:block>
</body>
</html>