<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body class="bg">
<main role="main" class="mainIndex">
    <th:block th:replace="fragments :: navigator" th:remove="tag"/>
    <center>
        <img th:src="@{/image/name.png}" class="img-fluid rounded name" th:style="${jesteAdmine ? 'margin-top: 2%' : 'margin-top: 4%'}">
        <div class="view overlay">
            <div class="col-md-6 view overlay zoom animated fadeInDown">
                <a th:href="@{/public/listQuestionnaire}">
                    <img th:src="@{/image/open.png}" class="img-fluid rounded"
                         alt="Responsive image">
                </a>
            </div>
            <div class="row col-md-6" sec:authorize="!isAuthenticated()">
                <div class="col-md-6 paddingless view overlay zoom animated fadeInDown delay-1s ">
                    <a th:href="@{/user/register}">
                        <img th:src="@{/image/registry.png}" class="img-fluid rounded"
                             alt="Responsive image">
                    </a>
                </div>
                <div class="col-md-6 paddingless view overlay zoom animated fadeInDown delay-1s ">
                    <a th:href="@{/user/login}">
                        <img th:src="@{/image/login.png}" class="img-fluid rounded"
                             alt="Responsive image">
                    </a>
                </div>
            </div>
        </div>
        <div class="row col-md-6" sec:authorize="isAuthenticated()">
            <div class="col-md-6 paddingless view overlay zoom animated fadeInDown delay-1s ">
                <a th:href="@{/questionnaire/create}">
                    <img th:src="@{/image/creatASurvey.png}" class="img-fluid rounded"
                         alt="Responsive image">
                </a>
            </div>
            <div class="col-md-6 paddingless view overlay zoom animated fadeInDown delay-1s ">
                <a th:href="@{/questionnaire/list}">
                    <img th:src="@{/image/mySurveys.png}" class="img-fluid rounded"
                         alt="Responsive image">
                </a>
            </div>
        </div>
        <div class="row col-md-6" sec:authorize="hasRole('ADMIN')">
            <div class="col-md-6 paddingless view overlay zoom animated fadeInDown delay-1s ">
                <a th:href="@{/admin/account/list}">
                    <img th:src="@{/image/usersList.png}" class="img-fluid rounded"
                         alt="Responsive image">
                </a>
            </div>
            <div class="col-md-6 paddingless view overlay zoom animated fadeInDown delay-1s ">
                <a th:href="@{/admin/account/shutDown}">
                    <img th:src="@{/image/shutDown.png}" class="img-fluid rounded"
                         alt="Responsive image">
                </a>
            </div>
        </div>
        </div>
        <div class="view overlay" sec:authorize="!hasRole('ADMIN')">
            <div class="animated hinge rounded delay-4s slower view zoom col-md-2 align-content-md-center">
                <img th:src="@{/image/donate.png}" class="img-fluid"
                     alt="Responsive image">
            </div>
        </div>
    </center>
</main>


<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>