<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body class="bg text-center">
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <img class="img-fluid" th:src="@{/image/sign.png}" width="340" height="340" style="margin-top: 100px">
    <form th:action="@{/login}" method="post" class="form-signin">
        <div class="col-md-5" style="margin-left: 30%">
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Username" th:name="username" required
                   autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" th:name="password"
                   required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
        </div>
        <button class="btn  signin" type="submit"></button>
    </form>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>