<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Question <span th:text="${data.getCounter()}"></span></h1>
    <form th:action="@{/public/answer}" method="post" th:object="${data}">
        <div class="row col-12 form-container">
            <input type="hidden" th:field="*{questionnarieId}" th:value="*{questionnarieId}">
            <input type="hidden" th:field="*{anonymousUserId}" th:value="*{anonymousUserId}">

            <div class="row col-md-12 form-input-row">
                <div>
                    <div class="col-md-12" th:text="${data.getQuestion().getContent()}"></div>
                </div>

                <div th:each="answer : ${data.getQuestion().getPossibleAnswers()}" class="col-md-12">
                    <!--<input class="form-control" type="text" id="questionContent" th:text="${answer.getContent()}">-->
                    <input type="radio"
                           th:field="${data.choosenAnswer}"
                           th:value="${answer.getContent()}" />
                    <label
                            th:for="${answer.getContent()}"
                            th:text="${answer.getContent()}"></label>
                </div>

                <li th:each="answer : ${data.getQuestion().getPossibleAnswers()}">
                    <input type="radio" th:field="${data.getAnswer().getId()}"
                           th:value="${answer.getId()}" />
                    <label th:for="${destinationAddress.destinationAddressId}"
                           th:text="${destinationAddress}"></label>
                </li>

                <!--<li th:each="destinationAddress : ${destinationAddresses}">-->
                    <!--<input type="radio" th:field="${address.destinationAddressId}"
                    th:value="${destinationAddress.destinationAddressId}" />-->

                    <!--<label th:for="${destinationAddress.destinationAddressId}"
                    th:text="${destinationAddress}"></label>-->
                <!--</li>-->

            </div>

            <div class="row col-md-12 form-button-row">
                <div class="col-md-6">
                    <button type="reset" class="btn btn-warning offset-3 col-md-6">Reset</button>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary offset-3 col-md-6">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>