<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Question statistic</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>


</head>
<body class="bg text-center">
<th:block th:replace="fragments :: navigator" th:remove="tag"/>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var question = /*[[${question.getContent()}]]*/ 'question';
    var statistic = /*[[${statMap}]]*/ null;

    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/questionScript.js}"></script>
<div>
    <div class="row col-md-8 offset-2" style="padding-top: 7%">
        <div id="chartContainer"  style="height: 550px; width: 100%;"></div>
    </div>

    <div class="row col-md-12">
        <a th:href="@{${referer}}" class="col-md-4 offset-4">
            <button type="button" class="btn back"></button>
        </a>
    </div>
</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>