<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question add</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body class="bg text-center">
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<center>
    <div class="row col-md-4" style="margin-top: 7%">
        <img th:src="@{/image/addQuestion.png}" class="img-fluid rounded">
    </div>
</center>
<form id="form" th:class="${errorMessage != null ? 'col-md-12' : 'col-md-12 animated delay-1s fadeInDown slow'}"
      th:action="@{/question/add}" method="post" th:object="${request}">
    <div th:if="${errorMessage != null}" class="row col-md-12 form-input-row">
        <div class="col-md-6 offset-3 alert alert-danger animated bounce infinite slower"
             th:text="${errorMessage}"></div>
    </div>
    <div class="hidden" th:if="*{questionnarieID}">
        <input type="hidden" name="questionnaryID" th:field="*{questionnarieID}">
    </div>
    <div class="form-row col-md-12">
        <div class="form-group col-md-10 offset-1">
            <label for="exampleInputPassword1"><p class="h4">Question</p></label>
            <textarea type="text" class="form-control" minlength="10" id="exampleInputPassword1"
                      placeholder="Question"
                      th:field="*{content}" rows="3"></textarea>
            <p aria-describedby="emailHelp" class="h4" style="margin-top: 10px">Answers</p>
            <small id="emailHelp" class="form-text text-muted">You should type at least two answers.
            </small>
        </div>
    </div>
    <div class="form-row col-md-12">
        <div class="form-group col-md-5 offset-1">
            <input type="text" class="form-control" id="exampleInputAnswer1"
                   placeholder="Enter Answer" maxlength="100" minlength="1" th:field="*{answer1}"
                   aria-describedby="userHelp">
            <input class="form-check-input" style="margin-top: 15px" type="checkbox" th:default="false"
                   th:field="*{answer1Correct}"
                   id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                <p class="h6" style="margin-top: 10px">Is Correct</p>
            </label>
        </div>
        <div class="form-group col-md-5">
            <input type="text" class="form-control" id="exampleInputAnswer2"
                   placeholder="Enter Answer" maxlength="100" minlength="1" th:field="*{answer2}"
                   aria-describedby="userHelp">
            <input class="form-check-input" style="margin-top: 15px" type="checkbox" th:default="false"
                   th:field="*{answer2Correct}"
                   id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck1">
                <p class="h6" style="margin-top: 10px">Is Correct</p>
            </label>
        </div>
    </div>
    <div class="form-row col-md-12">
        <div class="form-group col-md-5 offset-1">
            <input type="text" class="form-control" id="exampleInputAnswer3"
                   placeholder="Enter Answer" maxlength="100" th:field="*{answer3}"
                   aria-describedby="userHelp">
            <input class="form-check-input" style="margin-top: 15px" type="checkbox" th:default="false"
                   th:field="*{answer3Correct}"
                   id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck1">
                <p class="h6" style="margin-top: 10px">Is Correct</p>
            </label>
        </div>
        <div class="form-group col-md-5">
            <input type="text" class="form-control" id="exampleInputAnswer4"
                   placeholder="Enter Answer" maxlength="100" th:field="*{answer4}"
                   aria-describedby="userHelp">
            <input class="form-check-input" style="margin-top: 15px" type="checkbox" th:default="false"
                   th:field="*{answer4Correct}"
                   id="defaultCheck4">
            <label class="form-check-label" for="defaultCheck1">
                <p class="h6" style="margin-top: 10px">Is Correct</p>
            </label>
        </div>
    </div>
    <button type="submit"
            th:class="${errorMessage != null ? 'btn sumbit' : 'btn sumbit animated delay-2s fadeInDown slower'}"></button>
</form>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>