<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body class="bg text-center">
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<center>
    <div class="row col-md-5" style="margin-top: 100px">
        <img th:src="@{/image/registration.png}" class="img-fluid rounded">
    </div>
</center>
<form id="form" th:action="@{/user/register}" method="post" th:object="${newAccount}" style="margin-left: 27%">
    <div th:if="${errorMessage != null}" class="row col-md-8 form-input-row">
        <div class="col-md-12 alert alert-danger" th:text="${errorMessage}"></div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1"><p class="h6">Username</p></label>
            <input type="text" class="form-control" id="exampleInputUsername"
                   placeholder="Enter Username" minlength="5" maxlength="30" th:field="*{username}" aria-describedby="userHelp">
            <small id="userHelp" class="form-text text-muted">This will be your login.
            </small>
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputPassword1"><p class="h6">Password</p></label>
            <input type="password" class="form-control" minlength="6"  id="exampleInputPassword1" placeholder="Password"
                   th:field="*{password}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1"><p class="h6">Email address</p></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter email" th:field="*{userEmail}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
            </small>
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1"><p class="h6">Phone Number</p></label>
            <input type="text" class="form-control" id="phoneNumber"
                   placeholder="+ 48" th:field="*{phone}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1"><p class="h6">Name</p></label>
            <input type="text" class="form-control" id="name"
                   placeholder="Enter Name" th:field="*{name}">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1"><p class="h6">Surname</p></label>
            <input type="text" class="form-control" id="surname"
                   placeholder="Enter Surname" th:field="*{surname}">
        </div>
    </div>
    <button type="submit" class="btn sumbit" style="margin-right: 33%"></button>
</form>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>